.header-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.header-wrapper p {
  text-align: center;
  background-color: var(--tertiary);
  padding: 1rem;
}
