:root {
  --primary: #ffc636;
  --secondary: #0e2439;
  --tertiary: #1f364d;
}
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--secondary);
  font-family: 'Nunito', sans-serif;
  letter-spacing: -0.5px;
}
@font-face {
  font-family: 'Nunito';
  src: url('assets/fonts/Nunito-Regular.ttf');
}

p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
li {
  list-style-type: none;
}
.button {
  background: none;
  border: 2px solid var(--primary);
  color: var(--primary);
  padding: 6px 12px;
  border-radius: 20px;
  text-transform: uppercase;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
  display: inline-block;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: var(--tertiary);
  border: 2px solid var(--tertiary);
  color: var(--primary);
  padding: 6px 12px;
  border-radius: 20px;
  text-transform: uppercase;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
  display: inline-block;
}
select:hover {
  color: var(--primary);
  background: var(--tertiary);
}
input,
textarea {
  background: rgba(255, 255, 255, 0.05);
  padding: 10px 16px;
  border-radius: 20px;
  border: 2px solid #9893db;
  color: #f2f2f2;
}
h1,
h2,
h3,
h4 {
  color: #dddbff;
  font-weight: normal;
}
p,
a,
li {
  color: #9893db;
}
h1 {
  font-size: 1.6em;
}
h2 {
  font-size: 1.4em;
}
h3 {
  font-size: 1.2em;
}
h4 {
  font-size: 1em;
}
main {
  padding: 0 auto;
  margin: 0 20px;
  max-width: 80vw;
  min-height: 100vh;
  overflow: hidden;
}

/* small tablets */
@media screen and (min-width: 620px) {
}

@media screen and (min-width: 960px) {
  body {
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}
